# ADC
menu "UMNI аналоговые порты"
    config UMNI_NTC_1
        int "Канал NTC 1"
        default 0
    config UMNI_NTC_2
        int "Канал NTC 1"
        default 3
    config UMNI_ADC_1
        int "Канал ADC 1"
        default 6
    config UMNI_ADC_2
        int "Канал ADC 2"
        default 7
endmenu